
  #row1 {
    background: url(../img-about/noom-peerapong-2uwFEAGUm6E-unsplash.jpg);
    background-color: rgba(0, 0, 0, 0.5); 
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.8;
    backdrop-filter: blur(10px); 
}
#section{
    border-radius: 10px;
}
.img{
    border-radius: 360px;
}

/* @media (max-width:400px) {
    #row2{
        display: none;
    }
    #about-us{
        display: none;
    }
    #title{
        width: 100%;
    }
    
} */
