.side-content {
    gap: 6em;
}

.nav {
    gap: 30px;
}

.nav li a:hover {
    background-color: #f5c5181b;
    border-radius: 1em;
}

.side-content {
    background-color: black;
    background-image: linear-gradient(black, #f5c51880);
    border-radius: 1em;
}

.side-content span {
    color: white;
    font-size: 1em;
}

.content {
    border-radius: 1em;
    background-color: #2c2b2b7a;
}

.title {
    color: #F5C518;
}