.side-content {
    gap: 6em;
}

.nav {
    gap: 30px;
}

.nav li a:hover {
    background-color: #f5c5181b;
    border-radius: 1em;
}

.side-content {
    background-color: black;
    background-image: linear-gradient(black, #f5c51880);
    border-radius: 1em;
}

.side-content span {
    color: white;
    font-size: 1em;
}

.content {
    border-radius: 1em;
    background-color: #403f3f7a;
}

.title {
    color: #F5C518;
}

.feedback i {
    color: #F5C518;
}
/* 
.swiper {
    width: 100%;
    height: 100%;
  } */

  .swiper-slide {
    font-size: 16px;
    display: flex;
    
    justify-content: center;
    align-items: center;
  }


.firstPart, .line, .bar{
    background-color: #000;
}
