.sidebar{
    /* position: relative; */
}
.side-content {
    position: sticky;
    height: 100vh;
    width: 100%;
    left: 0; top: 0;
    gap: 6em;
}

.nav {
    gap: 30px;
}

.nav li a:hover {
    background-color: #f5c5181b;
    border-radius: 1em;
}

.side-content {
    background-color: black;
    background-image: linear-gradient(black, #f5c51880);
    border-radius: 1em;
}


.side-content span {
    color: white;
    font-size: 1em;
}

.content {
    border-radius: 1em;
    background-color: #403f3f7a;
}

.title {
    color: #F5C518;
}
.slider {
    height: 300px;
  background: url(../img/Oppenheimer.webp);
  animation: slide 30s infinite;
}
@keyframes slide {
    25%{
        background: url(../img/raya.jpg);
    }
    50%{
        background: url(../img/black.png);
    }
    75%{
        background: url(../img/c60GZl.webp);
    }
    100%{
        background: url(../img/Oppenheimer.webp);
    }
}
