header {
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 20%;
    background: transparent;
    padding: 30px 10%;
    transition: ease .40s;
    background: transparent;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.099);
}
.side-content {
    position: sticky;
    height: 100vh;
    width: 100%;
    left: 0; top: 0;
    gap: 6em;
    padding-top: 10%;
}

.nav {
    gap: 30px;
}

.nav li a:hover {
    background-color: #f5c5181b;
    border-radius: 1em;
}

.side-content {
    background-color: black;
    background-image: linear-gradient(black, #f5c51880);
    border-radius: 1em;
}


.side-content span {
    color: white;
    font-size: 1em;
}

.content {
    border-radius: 1em;
    background-color: #403f3f7a;
}

.title {
    color: #F5C518;
}
.swiper {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 200px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

