@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.sign-in{
    background-color: #C4C4C4;
}
.sign-in .container{
    width: 87%;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 30px;
    align-items: flex-start;
}
.signin-options{
    padding-left: 100px;
    width: 500px;
}
.signin-options div h1{
    font-size: 31px;
    margin: 15px 0 20px;
}
.sign-in-item{
    padding: 5px;
    margin-bottom: 12px;
    height: 34px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
    color: #000;
}
.sign-in-icons{
    display: inline-block;
    height: 24px;
    width: 32px;
    margin-right: 5px;
}
.sign-in-icons.item-logo{
    background: url('/Contact-images/logos.png') no-repeat;
    background-size: 32px, 96px;
}
.sign-in-icons.MovieMingle-logo{
    background: url('/Contact-images/Logo.png') no-repeat;
    background-color: #000;
    background-size: contain;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    margin-inline: 8px 10px;
}
.sign-in-icons.amazon-logo{
    background-position: 0 -24px;
}
.sign-in-icons.google-logo{
    background-position: 0 -76px;
}
.sign-in-icons.apple-logo{
    background-position: 0 -101px;
}
.sign-in-icons.facebook-logo{
    background-position: 0 -50px;
}
.item-option-toggle{
    color: #136cb2;
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
}
.item-option-toggle::after{
    content: '>';
    display: inline-block;
    font-weight: bold;
    margin-left: 0.5rem;
    transform: rotate(90deg) scaleX(0.5) scale(1.25);
    vertical-align: baseline;
}
.signin-options .divider-text{
    margin-block: 15px 20px;
    line-height: 0.5;
    text-align: center;
}
.signin-options .divider-text span {
    display: inline-block;
    position: relative;
    width: 15px;
}
.signin-options .divider-text span:before, .signin-options .divider-text span:after {
    border-top: 0.5px solid #555555;
    content: "";
    position: absolute;
    height: 5px;
    top: 50%;
    width: 90px;
}
.signin-options .divider-text span:before{   
    right: 100%;
    margin-right: 15px;
}
.signin-options .divider-text span:after {
    left: 100%;
    margin-left: 15px;
}
.create-account-container{
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 14px;
    line-height: 22px;
}
.create-account-container .create-account{
    display: block;
    padding: 4px 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    background-color: #E4B721;
    color: #000;
}
.signin-perks{
    border-left: 1px solid #000;
    padding-left: 50px; 
    max-height: 70%; 
    margin-top: 30px;
}
.signin-perks .benfits-title{
    margin-top: -10px;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}
.benfits-subtitle{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
#signin-notice{
    margin-left: -80px;
}

@media only screen and (max-width: 768px){
    .sign-in{
        background-color: #fff;
    }
    .sign-in .container{
        width: 80%;
    }
    .signin-options{
        padding-left: 0;
        margin: auto;
    } 
    .signin-perks{
        display: none;
    }
    #signin-notice{
        margin-top: 20px;
        margin-left: -12px;
        font-size: 14px;
    }
}